*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.slider-contenedor{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}


.contenedor{
    width: 80%;
    height: 400px;
    overflow: hidden;
    margin:auto;
}

.slider-test{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    align-items: center;
    
}

img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

